* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    /* background-color: #000; */
    background-color: #dcf6f840;
    position: relative;
    overflow-x: hidden;
}

/* .cont_of_logo{
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
} */

.faqsec {
    width: 100%;
    height: auto;
    /* overflow: hidden ; */
    position: relative;
    padding-bottom: 5vw;
}

.bgcover_logo {
    width: 50vw;
    height: 50vh;
    background-image: url(images/logo-removebg-preview.png);
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: 5%;
    scale: 1.6;
    bottom: -10%;
    filter: brightness(0);
    opacity: .2;
    background-repeat: no-repeat;
}

.bgcover_logo1 {
    width: 50vw;
    height: 50vh;
    background-image: url(images/logo-removebg-preview.png);
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: 80%;
    scale: 1.6;
    top: 10%;
    filter: brightness(0);
    opacity: .2;
    background-repeat: no-repeat;
}

.title {
    font-size: 50px;
    text-align: center;
    /* margin-top: 80px; */
    padding-top: 150px;
    margin-bottom: 60px;
    text-decoration: underline 4px;
}


.questions-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

.question {
    border-bottom: 1px dashed #6c6c6c8b;
}

.question button {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px 15px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #250a0a;
    font-weight: 700;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

.question span {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

.question button:hover {
    background-color: #ffb68555;
}

.question button:hover span {
    margin-left: 1vw;
}

.question button:hover .crle {
    margin-left: 1vw;
}

.question span {
    /* width: 40vw; */
    text-align: left;
}

.crle {
    width: 20px;
    height: 20px;
    background-color: #252d99;
    border-radius: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: .8vw;
    justify-content: center;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

.question p {
    font-size: 22px;
    max-height: 0;
    margin-left: 2.5vw;
    padding-right: 1vw;
    opacity: 0;
    line-height: 1.5;
    color: black;
    overflow: hidden;
    transition: all 0.6s ease;
}

.d-arrow {
    transition: transform 0.5s ease-in;
    color: #0b0b0b;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

}

/*add this class when click*/
.question p.show {
    max-height: 200px;
    opacity: 1;
    padding: 0px 10px 30px 10px;
}

.question button .d-arrow.rotate {
    transform: rotate(180deg);
}




@media screen and (max-width:600px) {
    .title {
        font-size: 7vw;
    }

    .crle {
        width: 8vw;
        height: 8vw;
        font-size: 3vw;
    }

    .question span {
        width: 74vw;
    }
    .bgcover_logo1{
        left: 67%;
            scale: 1.6;
            top: 23%;
            opacity: 0.1;
    }

}