.footer {
    width: 100%;
    height: 90vh;
    position: relative;
    font-family: gilroy;
    background-color: #f7fcff;
}

#footertop {
    width: 80%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    z-index: 9;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    /* font-family: gilroy; */
    color: white;
    background-color: #253993;
    overflow: hidden;
}

#footertop>p {
    font-size: 1vw;
    font-weight: 300;
}

#footertopdets {
    width: 80%;
    height: 30%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    border-width: 1px;
    border-color: rgba(241, 255, 178, 0.304);
    border-style: solid;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#ftrtopbox:nth-child(3) {
    border-right: none;

}

#ftrtopbox {
    width: 30%;
    height: 75%;
    display: flex;
    gap: 1.5vw;
    align-items: center;
    overflow: hidden;
    border-right: 1px solid #ccc;
}

#ftrtopbox>button {
    border: none;
    background: none;
    background-color: #f5b754;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    color: #000000;
    font-size: 1.9vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;

}

#ftrtopbox:hover#ftrtopbox>button {
    transform: scale(0.9);
    font-size: 2vw;
}

#ftrtopbox>a>div>h6 {
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 8px;
}

#ftrtopbox>a {
    text-decoration: none;
    color: #ffffff;
}

#ftrtopbox>a>div>h1 {
    font-size: 0.9vw;
    letter-spacing: 1px;
    font-weight: 300;

}

#footerbtm {
   background: url(./UpdatedImages/footer_img.avif) repeat fixed 100%;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 80%;
    position: absolute;
    top: 20vh;
    z-index: 1;


    transition: all cubic-bezier(0.19, 1, 0.22, 1) 5s;
}

#footerbtminr {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: #101630cb;
}

.copyright {
    width: 100%;
    height: 10%;
    border-top: 1px solid #f5b75459;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
}

.copyright h6 {
    font-size: 1.1vw;
    font-weight: 400;

    a {
        text-decoration: underline;
        color: #ffffff;
        letter-spacing: .6px;
        font-weight: 800;

    }
}

.ftrcontent {
    width: 100%;
    height: 60%;
    display: flex;
    gap: 3vw;
    /* justify-content:space-around; */
    align-items: flex-end;

    /* background-color: aliceblue; */
}

#ftrcontentbox1 {
    margin-left: 6vw;
    width: 22%;
    height: 90%;
    overflow: hidden;
    /* background-color: #253993; */
}

#logoimg {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-image: url('https://ekanshrajpal14.github.io/Luxury-Car/images/logo-removebg-preview.png');
}

#ftrcontentbox1_logo {
    display: flex;
    gap: 1vw;
    border-bottom: 1px;

    align-items: center;
}

#ftrcontentbox1_logo>h1 {
    padding-left: 1vw;
    font-weight: 500;
    font-size: 1.8vw;
    border-left: 1px solid white;
    color: #f5b754;
}

#ftrcontentbox1>h1 {
    margin-left: 2vw;
    font-size: 1.2vw;
    /* text-transform:lowercase; */
    font-weight: 500;
    margin-bottom: 1vw;
    /* text-align: center; */
}

#ftrcontentbox1>p {
    margin-left: 2vw;
    font-size: 1vw;
    line-height: 1.5vw;
    margin-bottom: 1vw;
    /* text-align: center;   */
}

#ftrimplinkbox {
    width: 40%;
    height: 80%;
    padding-left: 2vw;

    border-left: 1px solid #f5b75458;
    border-right: 1px solid #f5b75458;
    /* background-color: yellowgreen; */
}

#ftrimplinkbox>h1 {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1.5vw;
}

#linkbox {

    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: space-around;
}

#linkbox:nth-child(1) {
    padding-left: 2vw;
}

#linkbox>a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.1vw;
    align-items: center;
    display: flex;
}

#linkbox>a>span {
    margin-right: 0.5vw;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f5b754;
}

#ftrimplinkbox>div {
    width: 100%;
    gap: 7vw;
    display: flex;
    /* justify-content: space-between; */
}

/* #linkbox:nth-child(2) {} */

#line {
    width: 1px;
    /* height: 100px; */
    display: flex;
    background-color: rgba(255, 255, 255, 0.358);
}

#address_box {
    width: 22%;
    height: 80%;
    overflow: hidden;
}

#address_box>h1 {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

#address_box>h4 {
    font-size: 1.3vw;
    font-weight: 400;
    margin-bottom: 0.7vw;
}

#address_box>a {
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 1.5vw;
    /* margin-bottom: vw; */
    color: white;
    text-decoration: none;
}

#address_box>p {
    margin-top: 0.8vw;
}

#address_box>div {
    display: flex;
    gap: 1.5vw;
    margin-top: 1.5vw;
}

#address_box>div>a {

    background-color: #f5b754;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    color: #0d026b;
    font-size: 1.5vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}