.navbar_cover {
    width: 100%;
    height: 11vh;
}

.navbar {
    width: 100%;
    z-index: 999999;
    position: fixed;
    top: 0;
    height: 11vh;
    /* background-color: #181818; */
    /* background-color: #0e0e0e; */
    /* background-color: #161417; */
    background-color: #081b29;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 3vw;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.logo img {
    width: 12vw;
    object-fit: contain;
    object-position: center;
}

.menu {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.items {
    position: relative;
    width: auto;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items a,
.whatsapp a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    transition: all .5s;
}

.whatsapp {
    width: 16vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover Effects */
.whatsapp i {
    font-size: 1.5vw;
    margin-right: .5vw;
}

.button_toggle {
    display: none;
}

.whatsapp>a {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    padding: .7vw 1.7vw;
    background-color: rgb(0, 101, 203);
    border-radius: 5px;
    font-size: 1vw;
    text-transform: uppercase;
    /* font-family: Eina03-Bold; */
    box-shadow: 6px 6px 0px 0vw rgb(255, 232, 57);
    /* color: #FFE839; */
}

.whatsapp>a:hover {
    box-shadow: 0px 0px 0px 0vw rgb(255, 232, 57);
    background-color: rgb(255, 232, 57);
    color: rgb(0, 101, 203);
}

/* animation of nav */
.items::before {
    content: "";
    position: absolute;

    width: 100%;
    bottom: -7%;
    /* background-color: #99ffe9; */
    background-color: rgb(255, 232, 57);
}

.items:hover::before {
    animation: a .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.items:hover>a {
    /* color: #99ffe9; */
    color: rgb(255, 232, 57);
}

@keyframes a {
    from {
        height: 0%;
    }

    to {
        height: .5vh;
    }

}

/* end of animation of navbar */





/* service part popup */



#serviceItem {
    flex-direction: column;

}

#serviceItem:hover .services {
    display: flex;
    /* transition: all .5s; */
    animation: b .4s both;
}

@keyframes b {
    from {
        top: 6vh;
        opacity: 0;
    }

    to {
        top: 3.5vh;
        opacity: 1;
    }


}

.services {
    width: 12vw;
    height: auto;
    display: none;
    /* border:1px solid #5b5b5bf3; */
    position: absolute;
    top: 7vh;
    border-radius: 2px;
    padding: .2vw .6vw;
    left: -1vw;
    flex-direction: column;
    background-color: #081b29;
    justify-content: space-evenly;

}

.services .item1 {
    width: 100%;
    height: auto;
    margin: .5vw 0;
    display: flex;
    padding: .5vw;
    align-items: center;
    /* padding-top: .5vw; */
    text-decoration: none;
    transition: all .4s;
}

.item1:hover a {
    /* background-color: #99ffe936; */
    text-shadow: 0px 0px 7px rgb(255, 232, 57);
    /* background-color: rgba(255, 232, 57, 0.223); */
    /* color: #081b29; */
}