@media screen and (max-width:600px) {
    .navbar {
        height: 11vh;
        width: 100%;
    }

    .logo {
        width: 25vw;
    }

    .logo img {
        width: 25vw;
        height: 100%;
        object-fit: cover;
    }

    .nav {
        background-color: #081b29;
    }

    .menu {
        /* display: none; */
        width: 100vw;
        position: absolute;
        left: 0;
        z-index: -1;
        top: -235%;
        height: 30vh;
        transition: cubic-bezier(0.19, 1, 0.22, 1) .4s;
        padding-left: 4vw;
        padding-top: 5vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        background-color: #081b29;
    }

    .services {
        width: 34vw;
    }

    .items {
        height: fit-content;
    }

    .items a {
        font-size: 5vw;
    }

    .whatsapp {
        width: 55vw;
        justify-content: space-between;
    }

    .whatsapp a i {
        font-size: 3.3vw;
    }

    .whatsapp a {
        font-size: 2.8vw;
        margin-top: -1vw;
        padding: 3vw;
    }

    .button_toggle {
        padding: 1vw;
        display: block;
    }

    .button_toggle i {
        color: #fff;
        font-weight: 800;
        font-size: 7vw;
    }



    /* coomon code added here */
    .whatsapp_call_cont {
        width: 15vw;
        height: 24vw;
    }

    .call_circle,
    .call_circle1 {
        width: 11vw;
        height: 11vw;
        text-decoration: none;
        font-size: 5vw;
    }
}