@media (max-width:600px) {
    .part .mainsec {
        height: 55vh;
    }

    .part #imgbox {
        clip-path: polygon(77% 0, 100% 0, 100% 100%, 0% 126%);
    }

    .part .textbox {
        width: 73%;

        h2 {
            font-size: 12vw;
        }

        h6 {
            font-size: 3vw;
        }

        h1 {
            font-size: 6.5vw;
        }

        p {
            font-size: 2.4vw;
            line-height: 15px;
            width: 78%;
        }

        li {
            font-size: 2.5vw;
            letter-spacing: 1px;
            width: max-content;
            padding-right: 3vw;
            border-radius: 10px;
            font-weight: 800;
            color: #000000;
            background-color: #ffffffb0;
        }
    }

    .left_subs .common_part_left h1 {
        font-size: 6.8vw;
    }

    .left_subs .part_two_why_sub {
        height: 50%;
        width: 80%;
    }

    .left_subs .part_three_why_sub button {
        padding: 1.6vw 3vw;
        font-size: 3vw;
    }

    .left_subs {
        width: 50%;
        height: 69vh;
        padding-top: 28vw;
    }

    .left_subs .part_two_why_sub p {
        font-size: 2.6vw;
    }

    .subs_data_box p {
        font-size: 4vw;
    }

    .subs_data_box {
        padding: 18px;
        border-radius: 21px;
        width: 177px;
    }

    .subs_data_box_two {
        right: 5%;
        top: 15%;
    }

    .subs_data_box_one {
        width: 36vw;
        height: 32vw;
        background-color: #5FAB23;
        border-radius: 23px;
        display: flex;
        /* justify-content: center; */
        padding-top: 4vw;
        padding-left: 5vw;
        color: #ffff;
        font-size: 3.5vw;
        top: -18%;
        position: relative;
        left: 17%;
    }

    .image_value_div {
        width: 86px;
        height: 70px
    }

    .part .maintwo {
        min-height: 134vh;
        padding-top: 15vw;

        & .maintwobrand {
            & div {
                img {
                    transform: scale(0.3);
                }

                border: none;
            }
        }

        h1 {
            font-size: 6.5vw;
        }

        p {
            font-size: 3vw;
        }
    }

    .maintwobrand {
        width: 100%;
        height: 9%;
    }

    .part .maintwobtm {
        margin-top: 12vw;

        p {
            font-size: 3.1vw;
        }

        h1 {
            font-size: 5.5vw;
        }

        .main2btmdiv {
            width: 95%;
            height: 100%;
            flex-direction: column;
        }

        & .A-divs {

            width: 65%;
            height: 31%;

            div {
                font-size: 9vw;
                width: 70px;
                height: 70px;
            }

            h2 {
                font-size: 3.5vw;
            }

            p {
                font-size: 2.4vw;
            }
        }
    }

    .description {
        h1 {
            font-size: 6.5vw;
            font-weight: 700;
            margin-bottom: 1vw;
        }

        p {
            font-size: 3vw;
            line-height: 5vw;
        }
    }

    .car_type_subscribe h1 {
        font-size: 7vw;
    }

    .card_clickme {
        width: 80vw;
        height: 22vh;
    }

    .car_image_holder {
        width: 100%;
        height: 100%;
    }

    .car_image_holder p {
        font-size: 2.5vw;
    }

    .left_subs .part_three_why_sub a {
        font-size: 3vw;
        padding: 1.6vw 3vw;
    }
}