@media screen and (max-width:600px) {
    .car-intro {
        background: url('https://images.unsplash.com/photo-1563137391-0030ae24bc35?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') repeat fixed 100%;
        background-position: center;
        background-size: cover;
        z-index: -1;
        width: 100%;
        height: 60vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px
    }

    .car-introcontent {
        width: 100%;
        height: 100%;
        background-color: #00000078;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introcontent {
        text-align: center;
    }

    .introcontent>h1 {
        font-size: 15vw;
        /* font-weight: 500; */
        margin-bottom: 5vw;
        font-family: "Jersey 25", sans-serif;
        font-weight: 200;
        font-style: normal;

        /* font-family: voyage; */
        span {
            color: #f5b754;
        }
    }

    .introcontent>p {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        font-size: 3.5vw;
        line-height: 6vw;
    }

    .service-sec1 {
        width: 100%;
        min-height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2vh;
        background-color: #f8f8f8;


        .sec1left {
            /* background-color: rgb(254, 254, 254); */
            width: 100%;
            height: 40%;
            display: flex;
            padding-left: 0vw;
            padding-right: 0vw;

            flex-direction: column;
            justify-content: unset;
            align-items: center;
            gap: 2.5vw;

            h3 {
                color: #0017ac;
                letter-spacing: 2px;
                font-size: 3.5vw;
                font-weight: 500;
                margin-top: 9%;
            }

            h1 {
                font-size: 7vw;
                font-weight: 600;
                opacity: 0.8;
                /* background-color: #0017ac; */
                text-align: center;
                margin-bottom: 0.5vw;
            }

            p {
                font-size: 2.8vw;
                opacity: 0.7;
                width: 80%;
                text-align: center;
                margin-bottom: 2vw;

            }

            div {
                width: 90%;
                margin-top: 5.2vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                /* flex-direction: column; */
                /* text-align: center; */
                gap: 3.5vw;

                h6 {
                    flex-shrink: 0;
                    font-size: 3.1vw;
                    font-weight: 400;

                    span {
                        color: #e99714;
                        font-weight: 900;
                    }
                }
            }

        }

        

        .sec1right {

            /* background-color: rgb(160, 69, 69); */
            width: 100%;
            height: 50%;
            position: relative;
            display: flex;
            /* justify-content:unset; */
            align-items: unset;
            padding-top: 5vw;

            .sec1rtimg1 {

                width: 75%;
                height: 75%;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    object-position: center;
                }
            }

            .sec1rightcont {

                width: 30vw;
                height: 17vw;
                position: absolute;
                top: -2%;
                left: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8vw;
                flex-direction: column;
                background-color: #ffffff;
                border-radius: 10px;
                color: #170089;
                box-shadow: 5px 5px 15px rgb(122, 122, 122);
                text-align: center;

                h1 {
                    font-size: 5vw;
                }

                h5 {
                    font-weight: 500;
                    font-size: 2.8vw;
                }
            }

            .sec1rtimg2 {

                width: 45%;
                height: 30%;
                border-radius: 10px;
                overflow: hidden;
                border: 8px solid #f8f8f8;
                /* box-shadow: 5px 5px 15px rgb(122, 122, 122); */
                overflow: hidden;
                position: absolute;
                right: 3%;
                bottom: 11%;

                /* border-radius: 10px; */
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    object-position: center;
                }
            }
        }
    }
.added_line p {
    line-height: 3vw;
    text-align: center;
    font-size: 2.5vw;
    margin-top: -1vw;
    color: rgb(99, 99, 99);
    width: 75%;
}
    .service-sec2 {
        width: 100%;
    min-height: 230vh;
        display: flex;
        padding-bottom: 3vw;
        padding-top: 0;
        flex-direction: column;
        align-items: center;

        /* background-color: #c65151; */
        gap: 2.5vw;

        h4 {
            font-size: 3.5vw;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            color: #170089;
        }

        h1 {
            font-size: 7vw;
            opacity: 0.8;
            width: 80%;
            text-align: center;
            font-weight: 600;
        }

        .sec2btm {
            width: 85%;
            height: 200vh;
            /* min-height: 0vh; */
            margin-top: 8vw;
            /* background-color: #834343; */
            display: flex;
            flex-direction: column;
            justify-content: unset;
            align-items: center;
            flex-wrap: nowrap;
            gap: 8vw;
            padding-bottom: 2vw;

            .sec2btmbox {
                flex-shrink: 0;
                width: 85%;
                height: 15%;
                border: 1px solid #ff9d0044;
                display: flex;
                padding-left: 5vw;
                padding-top: 5vw;
                flex-direction: column;
                gap: 3vw;
                position: relative;

                div {
                    width: 40px;
                    height: 40px;
                    border: 2px solid #e99714;
                    display: flex;
                    z-index: 9;
                    justify-content: center;
                    align-items: center;
                    font-size: 10.5vw;
                    font-weight: 300;
                    color: #e08a01;
                }

                .sec2-overlay {
                    border: none;

                    width: 0%;
                    height: 100%;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    /* transform: translate(-50%,-50%); */
                    background-color: #ffb13d;
                    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.1s;
                }

                h2 {
                    z-index: 9;
                    font-size: 5vw;
                    font-weight: 500;
                }

                p {
                    z-index: 9;
                    font-size: 3.5vw;
                    width: 90%;
                    opacity: 0.7;
                    margin-bottom: 1.5vw;
                }

                a {
                    z-index: 9;
                    font-weight: 500;
                    text-decoration: none;
                    font-size: 3.5vw;
                    color: #e08a01;

                    letter-spacing: 0.2px;
                }

            }
        }

        .sec2btmbox:hover>.sec2-overlay {
            width: 100%;

        }

        .sec2btmbox:hover>a {
            color: rgb(255, 255, 255);
            /* opacity: 1; */
        }

        .sec2btmbox:hover>p {
            font-weight: 500;
            color: rgb(255, 255, 255);
            opacity: 1;
            /* opacity: 1; */
        }

        .sec2btmbox:hover>div {
            border: 2px solid #ffffff;
            color: white;
        }
    }

    .sec2btmbox:hover>h2 {
        color: rgb(255, 255, 255);
        /* opacity: 1; */
    }


    .service-sec3 {
        /* background-color: #5c1919; */
        width: 100%;
        height: 90vh;
        padding-top: 8vw;
        background-image: url('https://show.moxcreative.com/autorent/wp-content/uploads/sites/58/2022/02/dashed.png');
        background-position: center;
        /* background-size: cover; */
        background-repeat: no-repeat;
        display: flex;

        align-items: center;
        flex-direction: column;
        gap: 5vw;

        h3 {
            font-size: 2.5vw;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            color: #e08a01;
        }

        h1 {
            font-size: 6.5vw;
            opacity: 0.8;
            width: 65%;
            text-align: center;
            font-weight: 600;
        }

        .sec3box {
            margin-top: 5vw;
            width: 85%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            /* background-color: #0017ac; */
        }

        .sec3boxes {
            width: 100%;
            height: 28%;
            border-radius: 10px;
            background-color: hsl(0, 0%, 100%);
            box-shadow: 5px 5px 15px rgb(223, 223, 223);
            display: flex;
            align-items: unset;
            justify-content: unset;
            gap: 5.5vw;
            padding: 0vw 4.2vw;
            padding-top: 5vw;

            .sec3circle {
                width: 60px;
                height: 60px;
                flex-shrink: 0;
                border-radius: 50%;
                /* background-color: #e08a01; */
                border: 2px solid #e08a01;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 7.5vw;
                color: #e08a01;
                font-weight: 100;

            }

            #sec3boxescont {
                h2 {
                    font-size: 5vw;
                    font-weight: 600;
                    letter-spacing: 0.2px;
                    margin-bottom: 2.4vw;
                }

                p {
                    opacity: 0.8;
                    line-height: 4.5vw;
                    font-size: 3.05vw;
                }

            }
        }
    }

    .service-sec4 {
        width: 100%;
        height: 165vh;
        overflow: hidden;
        /* background-color: #220c0c; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        gap: 3.5vw;
        padding-top: 7vw;
        margin-bottom: 8vw;

        /* h3{
      font-size: 4vw;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      color: #e08a01;
  }
  h1{
      font-size: 2.5vw;
      opacity: 0.8;
      font-weight: 600;
      margin-bottom: 3vw;
  } */
        h2 {
            font-size: 3.5vw;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            color: #e08a01;
        }

        h1 {
            
            font-size: 7vw;
            opacity: 0.8;
            font-weight: 600;
        }

        .sec4box {
            margin-top: 15vw;
            width: 80%;
            height: 85%;
            /* overflow: hidden; */
            display: flex;
            /* overflow:; */
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            /* background-color: #0017ac; */
            /* padding-top: 10vw; */
            .sec4boxes {
                width: 90%;
                height: 28%;
                border-radius: 10px;
                /* overflow: hidden; */
                background-color: hsl(0, 100%, 100%);
                box-shadow: 5px 5px 15px rgb(223, 223, 223);
                position: relative;
                padding-top: 15vw;
                text-align: center;

                /* border: 1px solid #e08a01; */
                #outrcircle {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    top: -10%;
                    left: 50%;
                    transform: translate(-50%, -10%);
                    z-index: 99999;
                    background-color: #f8f8f8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                }

                #inrdiv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    height: 80%;
                    border-radius: 50%;

                    font-size: 7vw;
                    font-weight: 100;

                    z-index: 99999;
                    border: 2px solid #e08a01;
                    color: #e08a01;
                    background-color: #f8f8f8;


                }

                h1 {

                    font-size: 5.5vw;
                    font-weight: 600;
                    margin-bottom: 4.2vw;
                }

                p {
                    width: 80%;
                    font-size: 2vh;
                    opacity: 0.7;
                    letter-spacing: 0.8px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 8vw;
                }

                a {
                    text-decoration: none;
                    padding: 3vw 5vw;
                    font-size: 3.5vw;
                    color: white;
                    border-radius: 15px;
                    background-color: #0017ac;
                }
            }
        }
    }

    .parallax1 {
        background: url('https://images.unsplash.com/photo-1563137391-0030ae24bc35?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') repeat fixed 100%;
        background-position: center;
        background-size: cover;
        z-index: -1;
        width: 100%;
        height: 60vh;

        margin-left: auto;
        margin-right: auto;

        /* border-radius: 10px; */
        .parallax1inr {
            width: 100%;
            height: 100%;
            background-color: #081b29c6;
            /* background-color: #10005fbb; */
        }

        .parallax1inrtop {
            width: 100%;
            height: 64%;
            /* background-color: #e99714; */
            display: flex;
            /* align-items: center; */
            flex-direction: column;

            padding: 7vw 7vw;
            justify-content: space-between;
            color: rgb(255, 255, 255);

            p {
                width: 95%;
                /* margin-top: 5vw; */
                font-size: 3.1vw;
                line-height: 3.8vw;
                /* background-color: #e08a01; */
            }

            h1 {
                font-weight: 500;
                font-size: 4.5vw;
                /* background-color: #f8f8f8; */
                width: 95%;

                span {
                    color: #ffc800;
                }
            }
        }

        .parallax1inrbtm {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            height: 35%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            div {

                width: 20%;
                height: 50%;
                gap: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #00000074;
                border-radius: 10px;
                color: #ffc800;
                /* box-shadow: 5px 5px 15px rgb(122, 122, 122); */
                text-align: center;

                h1 {
                    font-size: 4vw;

                }

                h5 {
                    font-weight: 500;
                    font-size: 2.6vw;
                }
            }

        }
    }


    .footer {
        background-color: #f8f8f8;
    }
}